<div class="product-block collection-block" data-collection-id="{{ collection.id }}" {{ custom_attrs }} {% if animate %}data-cc-animate{% endif %}>
  <div class="block-inner">
    <a class="product-link" href="{{ collection.url }}">
      <div class="image-cont" style="border-radius:50%;">
        {%- liquid
          if custom_image
            assign collection_image = custom_image
          elsif collection.featured_image
            assign collection_image = collection.featured_image
          endif
        -%}

        {% if collection_image != blank %}
          <div class="product-block__image product-block__image--primary product-block__image--active">
            {% render 'responsive-image',collection:collection; image: collection_image, manual_image_load: manual_image_load, aspect_ratio: custom_aspect_ratio, cover: true, no_max_width: true %}
          </div>
        {% else %}
          <div class="placeholder-image placeholder-image--shape-{{ settings.coll_grid_image_shape }}">{{ 'collection-1' | placeholder_svg_tag }}</div>
        {% endif %}
        {% if custom_hover_image != blank %}
          <div class="product-block__image product-block__image--primary product-block__image--active hoverimage">
            {% render 'responsive-image', image: custom_hover_image, manual_image_load: manual_image_load, aspect_ratio: custom_aspect_ratio, cover: true, no_max_width: true %}
          </div>
        {% endif %}
        {% comment %}
        <div class="overlay-text overlay-text--for-banner overlay--v-center overlay--h-center image-overlay__over">
          <div class="overlay-text__inner">
            <div class="overlay-text__text collection_itme"><p style="color:#ffff;font-weight:bold;font-size:36px;position: absolute;
    bottom: 0;">{{ collection.title }}</p></div>
          </div>
          </div>
        {% if custom_hover_image != blank %}
          <div class="overlay-text overlay-text--for-banner overlay--v-center overlay--h-center image-overlay__over">
          <div class="overlay-text__inner">
            <div class="overlay-text__text"><p style="color:#ffff;font-weight:bold;font-size:36px;position: absolute;
    bottom: 0;">{{ collection.title }}</p></div>
          </div>
          </div>
        {% endif %}{% endcomment %}
      </div>
      <div class="product-info">
      {% comment %} <div class="product-block__title"><a class="button" href="{{ collection.url }}">SHOP NOW{% comment %}{{ collection.title }}{% endcomment %}</a></div>{% endcomment %}
      <div class="product-block__title">
        <h3>{{ collection.title }}</h3>
        {% if {{ collection.title }} =="PowerPlant Charger" }
           1        
        {% else %} 
        2
        {% endif %}
      </div>
        {% if settings.coll_grid_show_count and collection.all_products_count > 0 %}
          <div class="small">{{ 'collections.general.product_count' | t: count: collection.all_products_count }}</div>
        {% endif %}
      </div>
    </a>
  </div>
</div>