{% for article in blog.articles limit: section.settings.post_limit %}
        <div class="article" data-cc-animate data-cc-animate-delay="{{ forloop.index | times: 0.15 }}s">
          <div class="article__inner">
            {% if article.image %}
              <div class="article-image">
                <a href="{{ article.url }}">
                  {%- render 'responsive-image', image: article.image, aspect_ratio: section.settings.crop_ratio, cover: true -%}
                </a>
              </div>
            {% endif %}

            <h3><a href="{{ article.url }}">{{ article.title | escape }}</a></h3>

            <div class="rte">
              {{ article.excerpt_or_content }}
              <div class="btn_learn" style="text-align: center;"><a href="{{ article.url }}" class="btn btn-default" style="background-color: #6f894e; border: 1px solid #6f894e;">LEARN MORE</a></div>
            </div>

            <div class="meta">
              <span class="iconmeta time">
                {% if section.settings.show_date %}
                  {{ article.published_at | date: format: 'month_date_year' }}
                {% endif %}
                {% if section.settings.show_author %}
                  {% if section.settings.show_date %}&mdash;{% endif %}
                  <span class="author">{{ article.author }}</span>
                {% endif %}
              </span>
            </div>
          </div>
        </div>
        {% endfor %}
