<div class="environmenal">
  <div id="section-id-{{ section.id }}" style="text-align: center;">
  {% for block in section.blocks %}
    {% case block.type %}

        {% when 'head' %}
          <h1 class="environmenalHead-{{ block.id }} rte lightly-spaced-row {% if block.settings.enlarge_text %}large-text{% endif %}" {{ block.shopify_attributes }} style="font-size:{{block.settings.headfontsize}};color:{{block.settings.headfontcolor}}">{{ block.settings.headtext }}</h1>
       {% when 'text' %}
             <div class="rte lightly-spaced-row {% if block.settings.enlarge_text %}large-text{% endif %}" {{ block.shopify_attributes }} style="color:#779565;">{{ block.settings.text }}</div>
       {% when 'image' %}
              <div class="lightly-spaced-row inline-width-container" style="width: {{ block.settings.image_width }}%;position:relative;padding:20px;" {{ block.shopify_attributes }}>
                <a {% if block.settings.url != blank %} href="{{ block.settings.url }}"{% endif %} >
                <div style="background-color: #94b799; border-radius: 20px;" class="imagecontaner ">
                  <div class="image">
                  {% if block.settings.image != blank %}

                    {% render 'responsive-image', image: block.settings.image %}

                  {% else %}
                      <div class="placeholder-image" >

                      {{- 'image' | placeholder_svg_tag: 'placeholder-svg' -}}

                      </div>
                  {% endif %}

                     </div>
                 <div class="placeholder-image-text">{{block.settings.text_label}}</div>
               </div>
                </a>
              </div>

      {% when 'button' %}
                <div class="lightly-spaced-row-above" {{ block.shopify_attributes }} style="margin-bottom: 50px;">
                  <a class="environmenalBtn-{{ block.type}}{% if block.settings.button_style != 'link' %} btn btn--{{ block.settings.button_style }}{% else %}small-feature-link{% endif %}" href="{{ block.settings.button_link }}" style="">{{ block.settings.button_label | escape }}</a>
                </div>

    {% endcase %}
  {% endfor %}
  </div>
</div>

{%- style -%}
@media only screen and (max-width: 1300px){
.environmenal{
	max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
}
@media only screen and (max-width: 767px){
.imagecontaner {
   
}
.placeholder-image-text{
   
}
}

	{%- comment -%}
	{%- assign blocks = section.blocks | where: "type", "head" -%}
	{%- for block in blocks -%}
		.environmenalHead-{{ block.id }} {

            {%- if block.settings.headfontsize != blank -%}
			font-size: {{ block.settings.headfontsize }}px
			{%- endif -%}

			{%- if block.settings.headfontcolor != blank -%}
			color: {{ block.settings.headfontcolor }}
			{%- endif -%}

        color:#5C9757;
        font-size:35px;
        font-weight: bold;
        }
	{%- endfor -%}
	{%- endcomment -%}

{%- assign blocks=section.blocks | where:"type" -%}
{%- for block in blocks -%}
  {%- if block.type =="head" -%}
    .environmenalHead-{{ block.id }} {         
      color:#577C27;
      font-size:45px;
      font-weight: bold;
    }
  {% elsif block.type == "button"%}

    .environmenalBtn-{{ block.type }}{
         width: 35%;
         background-color: #5f7a41 !important;
         border: #5f7a41 !important;
         border-radius: 20px !important;
         font-weight: bold !important;
    }
    .environmenalBtn-{{ block.type }}:hover{
        color: #5f7a41;
        background-color: white !important;
        font-weight: bold;
    }
  {% else %}
    .placeholder-image-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        color: white;
        font-size: 24px;
    }

  {%- endif-%}
{%- endfor -%}
/*.rimage-wrapper {
	opacity: 0;
    transition: background 150ms;
}
.placeholder-image:hover{
	opacity: 1;
	background-color: white;
	border-radius: 20px
}*/
.image{
opacity: 0;
}
.imagecontaner:hover .image {
    opacity: 1;
}
.image .rimage__image {
border-radius: 20px;
}
{% endstyle %}

{% schema %}
  {
    "name": "enviromental",
      "settings": [
  	
	  {
        "type": "select",
        "id": "height1",
        "label": "Section height",
        "default": "medium",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ]
      },
	 {
        "type": "checkbox",
        "id": "full_width",
        "label": "Wide display",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "use_alt_bg",
        "label": "Use alternate section color",
        "default": false
      },
	{
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      }

	],
	"blocks":[
      {
		"type":"head",
		"name":"head",
		"settings":[
          {
            "type":"text",
            "id":"headtext",
            "label":"Text",
			"default":"Dedicated to Mother Earth"
          },
		  {
			"type": "range",
			"id": "headfontsize",
			"label": "Head Font Size",
			"min": 12,
			"max": 24,
			"step": 1,
			"unit": "px",
			"default": 16
		  },
		  {
			"type": "color",
			"id": "headfontcolor",
			"label": "Head Font color"
		  }
		  
		]
      },
	 {
        "type": "subheading",
        "name": "Subheading",
        "settings": [
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Subheading"
          }
        ]
      },
	{
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>We designed our collections to represent various environmental areas that need protection.A portion of every purchase is donated to support the following initiatives:</p>"
          },
          {
            "type": "checkbox",
            "id": "enlarge_text",
            "label": "Enlarge text",
            "default": true
          }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "image_width",
            "label": "Image width",
			"min": 16,
			"max": 100,
			"step": 1,
            "unit": "%",
			"default": 30
          },
          {
            "type": "url",
            "id": "url",
            "label": "Link"
          },
		  {
			"type": "text",
            "id": "text_label",
            "label": "text",
            "default": "Planting Trees in a National Forest"
		  }
        
     ]
    },
	 {
        "type": "button",
        "name": "Button",
        "settings": [
          {
            "type": "text",
            "id": "button_label",
            "label": "Button",
            "default": "Learn More"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "select",
            "id": "button_style",
            "label": "Button style",
            "default": "primary",
            "options": [
              {
                "label": "Button - primary",
                "value": "primary"
              },
              {
                "label": "Button - secondary",
                "value": "secondary"
              },
              {
                "label": "Link",
                "value": "link"
              }
            ]
          }
        ]
      }
	],
    "presets": [
      {
        "name": "enviromental",
        "settings": {},
        "blocks": [
          {
            "type": "head"
          },
		  {
		     "type":"text"
		  },
		  {
          	"type": "image"       
          },
		  {
          	"type": "button"       
           }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
