{% assign blog = blogs[section.settings.blog] %}
{% capture chevron_right %}<span class="icon--small icon-natcol">{% render 'svg-chevron-right' %}</span>{% endcapture %}

<div class="container strongly-spaced-row blog-row" data-section-type="featured-blog">
  {% unless blog.empty? %}
	
    <h1 class="hometitle h4-style align-center">
     {% comment %}<a class="prev" id="prev" href="#">{% render 'svg-chevron-left' %}</a>{% endcomment %}
      <a href="{{ blog.url }}" data-cc-animate>{{ section.settings.title | escape }}</a>
     {% comment %}<a class="next" id="next" href="#">{% render 'svg-chevron-right' %}</a>{% endcomment %}
   </h1>

    {% if blog.articles.size == 0 %}

      <p class="align-center" data-cc-animate>{{ 'onboarding.blog.empty' | t }}</p>

    {% else %}

      <div class="article-list article-layout--columns article-layout--one-row">
        {% for article in blog.articles limit: section.settings.post_limit %}
        <div class="article" data-cc-animate data-cc-animate-delay="{{ forloop.index | times: 0.15 }}s">
          <div class="article__inner">
            {% if article.image %}
              <div class="article-image">
                <a href="{{ article.url }}">
                  {%- render 'responsive-image', image: article.image, aspect_ratio: section.settings.crop_ratio, cover: true -%}
                </a>
              </div>
            {% endif %}

            <h3 class="h3size"><a href="{{ article.url }}">{{ article.title | escape }}</a></h3>

            <div class="rte retsize">
              {{ article.excerpt_or_content }}
              <div class="btn_learn" style="text-align: center;"><a href="{{ article.url }}">LEARN MORE</a></div>
            </div>

            <div class="meta">
              <span class="iconmeta time">
                {% if section.settings.show_date %}
                  {{ article.published_at | date: format: 'month_date_year' }}
                {% endif %}
                {% if section.settings.show_author %}
                  {% if section.settings.show_date %}&mdash;{% endif %}
                  <span class="author">{{ article.author }}</span>
                {% endif %}
              </span>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% endif %}

  {% else %}

    <h1 class="hometitle h4-style align-center"><a class="prev" href="#">{% render 'svg-chevron-left' %}</a>{{ section.settings.title | escape }}<a class="next" href="#">{% render 'svg-chevron-right' %}</a></h1>

    <div class="article-list article-layout--columns article-layout--one-row">
      {% for i in (1..section.settings.post_limit) %}
      <div class="article">
        <div class="article__inner">
          <div class="article-image">
            <div class="placeholder-image">{{ 'image' | placeholder_svg_tag }}</div>
          </div>

          <h3>{{ 'onboarding.article.title' | t }}</h3>

          <div class="rte">
            {{ 'onboarding.article.excerpt' | t }}
          </div>

          <div class="meta">
            <span class="iconmeta time">
              {% if section.settings.show_date %}
                {{ 'now' | date: format: 'month_date_year' }}
              {% endif %}
              {% if section.settings.show_author %}
                {% if section.settings.show_date %}&mdash;{% endif %}
                <span class="author">{{ 'onboarding.article.author' | t }}</span>
              {% endif %}
            </span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  {% endunless %}
</div>
{% style %}
	.btn_learn a{
		text-decoration: none;
		color:#ffffff;
	}
	.btn_learn:hover a{
		color:#6F894E;
	}
	.btn_learn:hover{
		background-color: #ffffff;
	}
	.btn_learn{
		width: 100%;
    	font-weight: 600;
    	background-color: #6F894E;
    	color: #fff;
    	border-radius: 30px;
		line-height: 40px;
	}
@media (max-width:767px){
	.blog-row{
		position: relative;
    	overflow: hidden;
	}
	.article-layout--one-row{
		float:left;
		display:-webkit-box;
	}
	.article-list .article{
		padding-top: 19px;
    	padding-bottom: 0px;
    	border-top: 1px solid #e2e2e2;
		margin-right:10px;
		
	}
	.blog-row h1{
		margin-bottom:10px;
	}
	.article-layout--one-row{
		overflow-y: auto;
	}
	.article-layout--one-row::-webkit-scrollbar {
            display: none;
        }

svg{
margin-bottom: 8px;
}

	.article{
		width:75%;
	}
	.btn_learn{
		width: 100%;
    	font-weight: 400;
    	background-color: #6F894E;
    	color: #fff;
    	border-radius: 30px;
		line-height: 30px;
		position: absolute;
    	bottom: 0;
	}
	.h3size{
		font-size:16px;
	}
    .retsize{
    	font-size:14px;
	}
	.article{
		position: relative;
	}
	.article__inner{
		margin-bottom: 30px;
	}
}

@media (min-width:767px){
    .article__inner{
        position:relative;
    }
	.article__inner .btn_learn{
        position: absolute;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
	}
}
@media (min-width:1300px){

#next{
font-size: 80%;
    line-height: 1em;
    margin: 10px 20px;
    padding: 10px;
  /*  display: inline-block !important;*/
}
#next svg{
position: relative;
    top: -10px;
}
#prev{
font-size: 80%;
    line-height: 1em;
    margin: 10px 20px;
    padding: 10px;
    display: inline-block !important;
}
#prev svg{
position: relative;
    top: -10px;
}
}

{% endstyle %}

 {%- comment -%}{%- endcomment -%} 
{% javascript %}

{% endjavascript %}



{% schema %}
  {
    "name": "Blog posts",
    "class": "section-featured-blog",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Blog posts"
      },
      {
        "type": "checkbox",
        "id": "enable_carousel",
        "label": "Enable carousel",
        "default": true
      },
      {
        "type": "blog",
        "id": "blog",
        "label": "Blog"
      },
      {
        "type": "range",
        "id": "post_limit",
        "label": "Posts",
        "min": 3,
        "max": 12,
        "step": 3,
        "default": 3
      },
      {
        "type": "checkbox",
        "id": "show_author",
        "label": "Show author",
        "default": true
      },
	    {
        "type": "checkbox",
        "id": "show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "select",
        "id": "crop_ratio",
        "label": "Image size",
        "options": [
          {
            "value": "",
            "label": "Natural (no crop)"
          },
          {
            "value": "0.67",
            "label": "Portrait (2:3)"
          },
          {
            "value": "1.0",
            "label": "Square (1:1)"
          },
          {
            "value": "1.33",
            "label": "Landscape (4:3)"
          },
          {
            "value": "1.78",
            "label": "Wide (16:9)"
          }
        ],
        "default": "1.78"
      }
    ],
    "presets": [
      {
        "name": "Blog posts",
        "settings": {
        }
      }
    ]
  }
{% endschema %}
