<div data-section-type="footer">
  {% if section.blocks != blank %}
    <div class="container container--no-max section-footer__row-container">
      <div class="section-footer__row section-footer__row--blocks" data-num-blocks="{{ section.blocks.size }}">
        {% for block in section.blocks %}
          {% case block.type %}
          {% when '@app' %}
            <div class="section-footer__row__col">
              {% render block %}
            </div>

          {% when 'menu' %}
            <div class="section-footer__row__col section-footer__menu-block" role="navigation" aria-label="{{ 'layout.footer.navigation_aria_label' | t | escape }}" {{ block.shopify_attributes }}>
              {% if block.settings.title != blank %}
                {%- assign title_word_count = block.settings.title | split: ' ' | size -%}
                <h6 class="section-footer__title{% if title_word_count < 4 %} no-wrap{% endif %}">
                  {{- block.settings.title | escape -}}
                </h6>
              {% endif %}

              {% if block.settings.menu != blank %}
                <ul class="section-footer__menu-block__menu" {{ block.shopify_attributes }}>
                  {% for link in linklists[block.settings.menu].links %}
                    <li>
                      <a href="{{ link.url }}" {% if link.title.size < 25 %}class="no-wrap"{% endif %}>
                        {{- link.title -}}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>

          {% when 'text' %}
            <div class="section-footer__row__col section-footer__text-block {% if block.settings.text != blank %}section-footer__text-block--with-text{% endif %}" {{ block.shopify_attributes }}>
              {% if block.settings.title != blank %}
                {%- assign title_word_count = block.settings.title | split: ' ' | size -%}
                <h6 class="section-footer__title{% if title_word_count < 4 %} no-wrap{% endif %}">
                  {{- block.settings.title | escape -}}
                </h6>
              {% endif %}

              {% if block.settings.text != blank %}
                <div class="section-footer__text">
                  {{- block.settings.text -}}
                </div>
              {% endif %}

              {% if block.settings.image != blank %}
                <span class="section-footer__text-block__image">
                  {%- capture double_image_width -%}{{ block.settings.image_width | times: 2 }}x{%- endcapture -%}
                  <div class="rimage-outer-wrapper" style="width: {{ block.settings.image_width }}px">
                    <div class="rimage-wrapper lazyload--placeholder" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%">
                      <img class="rimage__image lazyload fade-in" data-src="{{ block.settings.image | img_url: double_image_width }}" alt="{{ shop.name | escape }}" />
                    </div>
                  </div>
                </span>
              {% endif %}

              {% if block.settings.show_social_icons != blank %}
                <div class="section-footer__text-block__social">
                  {% capture icon_size %}{% if block.settings.soc_icons_large %}x46{% else %}x30{% endif %}{% endcapture %}
                  {% capture container_class %}{% if block.settings.soc_icons_large %}social-links--large{% else %}{% endif %}{% endcapture %}
                  {% render 'social-icons', icon_setting: settings.social_custom_icon, icon_size: icon_size, container_class: container_class %}
                </div>
              {% endif %}
            </div>

          {% when 'newsletter' %}
            <div class="section-footer__row__col section-footer__newsletter-block" {{ block.shopify_attributes }}>
              {% if block.settings.title != blank %}
                {%- assign title_word_count = block.settings.title | split: ' ' | size -%}
                <h6 class="section-footer__title{% if title_word_count < 4 %} no-wrap{% endif %}">
                  {{- block.settings.title | escape -}}
                </h6>
              {% endif %}

              {% if block.settings.text != blank %}
                <div class="section-footer__text">
                  {{ block.settings.text }}
                </div>
              {% endif %}

              <div class="signup-form">
                {% form 'customer', id: 'footer_newsletter_signup' %}
                  {% if form.posted_successfully? %}
                    <div class="section-footer__newsletter-block__message signup-form__response signup-form__response--success">
                      <h6>{{ 'layout.signup.post_success' | t }}</h6>
                    </div>
                  {% else %}
                    {% if form.errors %}
                      {% for field in form.errors %}
                        <p class="section-footer__newsletter-block__message--error signup-form__response signup-form__response--error">
                          {{ field | capitalize }} - {{ form.errors.messages[field] }}
                        </p>
                      {% endfor %}
                    {% endif %}
                    <input type="hidden" name="contact[tags]" value="prospect,newsletter"/>
                    <p>
                      <input type="email"
                        placeholder="{{ 'layout.signup.placeholder' | t }}"
                        class="signup-form__email"
                        value=""
                        name="contact[email]"
                        aria-label="{{ 'layout.signup.input_label' | t | escape }}"
                        required />
                    </p>
                    <button class="btn btn--{{ block.settings.button_style }} signup-form__button" type="submit">
                      {{- 'layout.signup.submit' | t -}}
                    </button>
                  {% endif %}
                {% endform %}
              </div>

              {% if block.settings.show_social_icons != blank %}
                <div class="section-footer__newsletter-block__social">
                  {% capture icon_size %}{% if block.settings.soc_icons_large %}x46{% else %}x30{% endif %}{% endcapture %}
                  {% capture container_class %}{% if block.settings.soc_icons_large %}social-links--large{% else %}{% endif %}{% endcapture %}
                  {% render 'social-icons', icon_setting: settings.social_custom_icon, icon_size: icon_size, container_class: container_class %}
                </div>
              {% endif %}

              {% if section.settings.show_payment_icons %}
              	<div class="section-footer__newsletter-block__payment_icons">
                  
				  <div class="section-footer__newsletter-block__payment_icon_item"><img src="{{ 'visa.png' | asset_img_url }}" title="Visa"/></div>
                  <div class="section-footer__newsletter-block__payment_icon_item"><img src="{{ 'mastercard.png' | asset_img_url }}" title="Mastercard"/></div>
                  <div class="section-footer__newsletter-block__payment_icon_item"><img src="{{ 'amex.png' | asset_img_url }}" title="American Express"/></div>
                  <div class="section-footer__newsletter-block__payment_icon_item"><img src="{{ 'Discover.png' | asset_img_url }}" title="Discover"/></div>
                  <div class="section-footer__newsletter-block__payment_icon_item paypalicon"><img src="{{ 'paypal.png' | asset_img_url }}" title="PayPal"/></div>
                  <div class="section-footer__newsletter-block__payment_icon_item"><img src="{{ 'applePay.png' | asset_img_url }}" title="Apple Pay"/></div>
                  <div class="section-footer__newsletter-block__payment_icon_item"><img src="{{ 'Google_Pay.png' | asset_img_url }}" title="Google Pay"/></div>
                  <div class="section-footer__newsletter-block__payment_icon_item"><img src="{{ 'klarna1.png' | asset_img_url }}" title="Klarna"/></div>
                  <div class="section-footer__newsletter-block__payment_icon_item fbpayicon"><img src="{{ 'FBPay.png' | asset_img_url }}" title="Facebook Pay"/></div>
                  <div class="section-footer__newsletter-block__payment_icon_item"><img src="{{ 'Opay.png' | asset_img_url }}" title="Shop Pay"/></div>
                  
              	</div>
              {% endif %}
            </div>

          {% endcase %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {%- assign showing_localization = false -%}
  {%- if section.settings.show_language_selector and localization.available_languages.size > 1 -%}{%- assign showing_localization = true -%}{%- endif -%}
  {%- if section.settings.show_country_selector and localization.available_countries.size > 1 -%}{%- assign showing_localization = true -%}{%- endif -%}
  <div class="container container--no-max section-footer__row-container {% if showing_localization %}section-footer__row-container--with-localization{% endif %}">
    <div class="section-footer__row section-footer__row-lower">
      {%- comment -%}
      <div class="section-footer__row__col">
        {% if section.settings.show_payment_icons %}
          <div class="section-footer__payment-icons">
            {% for type in shop.enabled_payment_types %}
              {{ type | payment_type_svg_tag: class: 'section-footer__payment-icon' }}
            {% endfor %}
          </div>

        {% endif %}
        {% if section.settings.lower_menu != blank %}
          <div class="section-footer__lower-menu">
            <ul class="section-footer__lower-menu__list" role="navigation" aria-label="{{ 'layout.footer.navigation_aria_label' | t | escape }}">
              {% for link in linklists[section.settings.lower_menu].links %}
                <li>
                  <a href="{{ link.url }}">
                    {{- link.title -}}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
      {%- endcomment -%}
      <div class="section-footer__row__col">
        {% if section.settings.show_language_selector or section.settings.show_country_selector %}
          <div class="section-footer__localization">
            {% render 'localization', input_prefix: 'footer' %}
          </div>
        {% endif %}

        <div class="copyright">
          <span class="copy">&copy; {{ "now" | date: "%Y" }} <a href="{{ routes.root_url }}">{{ shop.name }}</a>.</span>

          {{ powered_by_link }}

        </div>
      </div>
    </div>
  </div>
</div>

{% style %}

@media(max-width:767px){
.section-footer__newsletter-block>h6{
	margin:30px 0 30px 0;
	text-align:center;
}
.section-footer__menu-block .section-footer__title{
	padding-right: 15px;
    position: relative;
    margin: 0;
}

.section-footer__menu-block.__active .section-footer__menu-block__menu {
    display: block;
}

.section-footer__menu-block .section-footer__menu-block__menu {
    display: none;
}

.section-footer__menu-block.__active .section-footer__title:after {
	transform: rotate(180deg);
}

.section-footer__menu-block .section-footer__title:after {
    content: "";
    background-image: url({{"Icon_ionic-ios-arrow-down.svg" | asset_url }});
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.section-footer__menu-block{
	border-bottom: 2px solid #fff;
    padding-left: 10px;
}
}
#footer_newsletter_signup {
	position: relative;
}

.section-footer__newsletter-block .signup-form__email {
    padding: 0.6em 15px;
	width: 66%;
}

.signup-form__button {
	position: absolute;
    top: 0;
    right: 0;
	background-color: #2f87bb;
    border: 0px;
}

.section-footer__newsletter-block__payment_icons {
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.section-footer__newsletter-block__payment_icon_item {
	display: flex;
    background-color: white;
    margin: 5px 0;
    width: calc(20% - 5px);
    border-radius: 5px;
	justify-content: center;
    height: 38px;
    overflow: hidden;
}

.paypalicon {
	padding: 7px 0px;
}

.fbpayicon {
	padding: 0px 5px;
}

{% endstyle %}

{% schema %}
  {
    "name": "Footer",
    "class": "section-footer",
    "max_blocks": 5,
    "settings": [
      {
        "type": "link_list",
        "id": "lower_menu",
        "label": "Lower footer menu"
      },
      {
        "type": "header",
        "content": "Social media links",
        "info": "These are shown inside text and newsletter blocks. Add to the footer and enable inside."
      },
      {
        "type": "header",
        "content": "Payment methods"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": true
      },
      {
        "type": "header",
        "content": "Country/Region Selector",
        "info": "To add a country/region, go to your [payment settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_country_selector",
        "label": "Enable country/region selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Language Selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_language_selector",
        "label": "Enable language selector",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "menu",
        "name": "Links",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Quick links"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu",
            "info": "This menu won't show dropdown items",
            "default": "footer"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text and social media",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Talk about your store"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme editor.<\/p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "image_width",
            "min": 30,
            "max": 200,
            "step": 5,
            "unit": "px",
            "label": "Footer image width",
            "default": 100
          },
          {
            "type": "checkbox",
            "id": "show_social_icons",
            "label": "Show social media links",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "soc_icons_large",
            "label": "Use large social media icons",
            "default": false
          }
        ]
      },
      {
        "type": "newsletter",
        "limit": 1,
        "name": "Newsletter",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Newsletter"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Sign up for exclusive offers, original stories, events and more.</p>"
          },
          {
            "type": "paragraph",
            "content": "Customers who subscribe will have their email address added to the “accepts marketing” [customer list](/admin/customers?query=&accepts_marketing=1)"
          },
          {
            "type": "select",
            "id": "button_style",
            "label": "Button style",
            "default": "primary",
            "options": [
              {
                "label": "Primary",
                "value": "primary"
              },
              {
                "label": "Secondary",
                "value": "secondary"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "show_social_icons",
            "label": "Show social media links",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "soc_icons_large",
            "label": "Use large social media icons",
            "default": false
          }
        ]
      }
    ]
  }
{% endschema %}


{% javascript %}

$(function(){
$(".section-footer__title").on('click',function(){
	$(this).parent().toggleClass('__active');
	/*$(".section-footer__menu-block").toggleClass('__active');*/
})

/*$(".section-footer__title").click(function(){
	$(".section-footer__menu-block").toggleClass('__active');
});
$(".section-footer__title").click(function(){
	$(".section-footer__menu-block").toggle();
});*/

})

{% endjavascript %}