<div class="{% unless section.settings.full_width %}article{% endunless %} {% if section.settings.use_alt_bg %}use-alt-bg fully-padded-row--{{ section.settings.height }}{% else %}fully-spaced-row--{{ section.settings.height }}{% endif %}" data-cc-animate>
  <div class="container">
    <div class="align-{{ section.settings.text_alignment }} spaced-column">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'heading' %}
            {% if block.settings.use_h1 %}
              <h1 class="majortitle in-content" {{ block.shopify_attributes }}>{{ block.settings.title | escape }}</h1>
            {% else %}
              <h2 class="majortitle in-content h1-style h2-title" {{ block.shopify_attributes }}>{{ block.settings.title | escape }}:</h2>
            {% endif %}
      <p class="left"><</p>
          {% when 'text' %}
                <div class="rte lightly-spaced-row large-texts {% if block.settings.enlarge_text %}large-text{% endif %}" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
      <p class="right">></p>  
      {% endcase %}
      {% endfor %}
      
    </div>
  </div>
</div>
{% style %}
.left{
font-size:34px;
}
	.h2-title{
		color:#5D783E;
	}
	
	.large-texts{
		background-color:#D2DFCF;
		font-size: 1.35em;
    	line-height: 1.6;
		padding:40px;
		text-align:left;
		border-radius:20px;
	}
{% endstyle %}
{% schema %}
  {
    "name": "RichTexts",
	"class":"section-RichTexts",
    "settings": [
		{
        "type": "select",
        "id": "height",
        "label": "Section height",
        "default": "medium",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          }
        ]
      },
	  {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Wide display",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "use_alt_bg",
        "label": "Use alternate section color",
        "default": false
      }
	],
	"blocks":[
	{
        "type": "heading",
        "name": "Heading",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Rich text"
          },
          {
            "type": "checkbox",
            "id": "use_h1",
            "label": "Set as primary page heading",
            "info": "Uses <h1> tag (used for SEO and accessibility). One per page recommended.",
            "default": false
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text to share information about your store with your customers. Describe products, share announcements, or welcome customers to your store.</p>"
          },
          {
            "type": "checkbox",
            "id": "enlarge_text",
            "label": "Enlarge text",
            "default": true
          }
        ]
      }
	],
	"presets": [
      {
        "name": "RichTexts",
        "settings": {},
        "blocks": [
          {
            "type": "heading"
          },
          {
            "type": "text"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
