<div class="section-id-{{ section.id }} collection-slider-row for-collections {% if section.settings.use_alt_bg1 %}use-alt-bg1{% endif %}" data-section-type="featured-collections">
  <div style="text-align:center;">
  {% for block in section.blocks %}
        {% case block.type %}
          {% when 'heading' %}
            {% if block.settings.use_h1 %}
              <h1 class="majortitle in-content" {{ block.shopify_attributes }}>{{ block.settings.title | escape }}</h1>
            {% else %}
              <h2 class="majortitle in-content h1-style" {{ block.shopify_attributes }}>{{ block.settings.title | escape }}:</h2>
            {% endif %}

          {% when 'text' %}
            <div class="rte lightly-spaced-row {% if block.settings.enlarge_text %}large-text{% endif %}" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>

        {% endcase %}
      {% endfor %}
  </div>
	{% comment %}
  <div class="scroll-pro-text">
    <span class="scrollspan">SCROLL <img class="scroll-span-img" src="{{ 'right.svg' | asset_url  }}" /></span>
  </div>
  {% endcomment %}
  <div class="scroll-pro-title">
    {% if section.settings.scrollprotitle != blank %}
    {% comment %}
    <div class="scroll-pro-title-box">
      <span class="scroll-pro-title-span">{{ section.settings.scrollprotitle }}</span>
    </div>
    {% endcomment %}
    {% endif %}
    
    <div class="scroll-pro-collection">
    	<div class="container{% if section.settings.enable_carousel %} container--not-mobile{% endif %}">
          <div class="{% if section.settings.enable_carousel %}collection-slider{% endif %}">
            <div class="collection-listing" data-cc-animate="cc-fade-in-up">
              <div class="scroll-collection product-list product-list--per-row-5 product-list--per-row-mob-{{ settings.prod_thumb_mob_per_row }} product-list--image-shape-{{ settings.coll_grid_image_shape }} {% if section.settings.enable_carousel %}carousel{% endif %}" style="margin:0;">
                {% assign slides = section.blocks | where: "type", "collection" %}
                {% if slides.size > 0 %}
                  {%- liquid
                    if settings.coll_grid_image_shape == 'portrait-23'
                      assign chosen_aspect_ratio = 0.67
                    elsif settings.coll_grid_image_shape == 'portrait-45'
                      assign chosen_aspect_ratio = 0.8
                    elsif settings.coll_grid_image_shape == 'square'
                      assign chosen_aspect_ratio = 1.0
                    elsif settings.coll_grid_image_shape == 'landscape-54'
                      assign chosen_aspect_ratio = 1.25
                    elsif settings.coll_grid_image_shape == 'landscape-32'
                      assign chosen_aspect_ratio = 1.50
                    elsif settings.coll_grid_image_shape == 'tallest'
                      assign chosen_aspect_ratio = 999
                      for block in slides
                        assign collection = collections[block.settings.collection]
                        if collection != blank
                          assign collection_image = block.settings.image | default: collection.featured_image
                          if collection_image.aspect_ratio < chosen_aspect_ratio
                            assign chosen_aspect_ratio = collection_image.aspect_ratio
                          endif
                        endif
                      endfor
                    else
                      assign chosen_aspect_ratio = 0
                      for block in slides
                        assign collection = collections[block.settings.collection]
                        if collection != blank
                          assign collection_image = block.settings.image | default: collection.featured_image
                          if collection_image.aspect_ratio > chosen_aspect_ratio
                            assign chosen_aspect_ratio = collection_image.aspect_ratio
                          endif
                        endif
                      endfor
                    endif
                  -%}

                  {% for block in slides %}
                    {% assign collection = collections[block.settings.collection] %}

                    {% render 'pro-collection-block', collection: collection, custom_attrs: block.shopify_attributes, manual_image_load: section.settings.enable_carousel, custom_image: block.settings.image, custom_aspect_ratio: chosen_aspect_ratio, forloop: forloop %}
                  {% endfor %}

                {% else %}

                  {% for i in (1..6) %}
                    {% render 'pro-collection-block', collection: blank, forloop: forloop %}
                  {% endfor %}

                {% endif %}
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div style="text-align:center;" class="btn-an">
    {% if section.settings.buttontext != blank %}
    <a class="anniu btn btn-primary" {% unless section.settings.buttonlink == blank %}href="{{ section.settings.buttonlink }}"{% endunless %}>{{ section.settings.buttontext }}</a>
    {% endif %}
  </div>
</div>

{% style %}

	.btn-an .anniu{
        width:35%;
        border-radius:30px;
        background-color:#6F894E;
        border:0px;
        font-weight:600;
    }
	
	.btn-an .anniu:hover{
        background-color:#fff;
        color:#6F894E;
    }

	@media (max-width:767px){
        .btn-an .anniu{
            width:70%;
            border-radius:30px;
            background-color:#6F894E;
            border:0px;
            font-weight:600;
        }
    }

	.scroll-pro-text {
	  {% if section.settings.scrollprotitle == blank %}
		padding-left:0;
	  {% else %}
		padding-left:25%;
	  {% endif %}
	}

	.scroll-pro-title {
		display:flex;
		padding:20px 0px;
	}

	.scroll-pro-title-box {
		width: 25%;
		margin: auto;
		padding: 0 50px;
	}

	.scroll-pro-title-span {
		font-weight: bold;
		font-size: 24px;
	}

	.scroll-pro-collection {
	  {% if section.settings.scrollprotitle == blank %}
		width: 100%;
	  {% else %}
		width: 100%;
	  {% endif %}
	}

	.scroll-pro-collection .container {
		padding: 0;
	}

	.scroll-span-img {
		height: 20px;
        margin-top: 1px;
        margin-left: 10px;
	}

	a.btn.btn-scrollpro { 
	  width: 40%;
      background-color: #fafaf9;
      border-radius: 50px;
      box-shadow: 0px 3px 9px #ced1c9;
      border: 0px;
      color: #5f7a41;
      font-weight: bold;
	  transition: width 0.5s;
	  -moz-transition: width 0.5s;	/* Firefox 4 */
	  -webkit-transition: width 0.5s; /* Safari 和 Chrome */
	  -o-transition: width 0.5s; /* Opera */
	}
	@media (max-width: 767px) {
	  a.btn.btn-scrollpro { 
	  width: 80%;
      background-color: #fafaf9;
      border-radius: 50px;
      box-shadow: 0px 3px 9px #ced1c9;
      border: 0px;
      color: #5f7a41;
      font-weight: bold;
	  transition: width 0.5s;
	  -moz-transition: width 0.5s;	/* Firefox 4 */
	  -webkit-transition: width 0.5s; /* Safari 和 Chrome */
	  -o-transition: width 0.5s; /* Opera */
	}
	}

	a.btn.btn-scrollpro:hover {
	  width: 20%;
	  color: #fafaf9;
	  background-color: #5f7a41;
	  transition: width 0.5s;
	  -moz-transition: width 0.5s;	/* Firefox 4 */
	  -webkit-transition: width 0.5s; /* Safari 和 Chrome */
	  -o-transition: width 0.5s; /* Opera */
	}

    .pro-collection-block-image-cont {
        /**border-radius: 5px;*/
    }


{% endstyle %}

{% schema %}
  {
    "name": "ScrollPro",
	"class": "section-scrollpro",
    "settings": [
	  {
		"type":"text",
		"id":"scrollprotitle",
		"label":"Title",
		"default":"Be Part of the Solution. Not the Pollution."
	  },
	  {
		"type": "range",
        "id": "scrollprotitle_fontsize",
        "min": 12,
        "max": 18,
        "step": 1,
        "unit": "px",
        "label": "Title Font Size",
        "default": 16
	  },
      {
        "type": "range",
        "id": "grid",
        "label": "Collections per row",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 4
      },
      {
        "type": "checkbox",
        "id": "enable_carousel",
        "label": "Enable carousel",
        "default": true
      },
	  {
		"type": "checkbox",
		"id": "use_alt_bg1",
		"label": "Use alternate section color",
		"default": true
	  },
	  {
		"type": "text",
		"id": "buttontext",
		"label": "Button Label",
		"default": "Browse All Product"
	  },
      {
        "type": "url",
        "id": "buttonlink",
        "label": "Button Link"
      }
	],
	"blocks":[
{
        "type": "heading",
        "name": "Heading",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Rich text"
          },
          {
            "type": "checkbox",
            "id": "use_h1",
            "label": "Set as primary page heading",
            "info": "Uses <h1> tag (used for SEO and accessibility). One per page recommended.",
            "default": false
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text to share information about your store with your customers. Describe products, share announcements, or welcome customers to your store.</p>"
          },
          {
            "type": "checkbox",
            "id": "enlarge_text",
            "label": "Enlarge text",
            "default": true
          }
        ]
      },
	  {
		"type": "collection",
        "name": "Collection",
        "settings": [
		  {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
		  {
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		  }
		]
	  }
	],
	"presets":[
	  {
        "name": "ScrollPro",
        "settings": { },
        "blocks": [
          {
            "type": "collection"
          }
        ]
	  }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
