<div class="section-id-{{ section.id }} collection-slider-row for-collections {% if section.settings.use_alt_bg1 %}use-alt-bg1{% endif %}" data-section-type="featured-collections">
  <div style="padding-top: 10px;{% if section.settings.scrollprotitle == blank %}padding-left:0;{% else %}padding-left:30%;{% endif %}">
    <span style="padding-left:20px;">SCROLL -></span>
  </div>
  <div style="display:flex;padding:30px 0px;">
    {% if section.settings.scrollprotitle != blank %}
    
    <div style="width:30%;margin:auto;padding:0 50px;">
      <span style="font-weight:bold;font-size:24px;">{{ section.settings.scrollprotitle }}</span>
    </div>
    
    {% endif %}
    
    <div style="{% if section.settings.scrollprotitle == blank %}width:100%;{% else %}width:70%;{% endif %}">
    	<div class="container{% if section.settings.enable_carousel %} container--not-mobile{% endif %}" style="padding:0;">
          <div class="{% if section.settings.enable_carousel %}collection-slider{% endif %}">
            <div class="collection-listing" data-cc-animate="cc-fade-in-up">
              <div class="product-list product-list--per-row-5 product-list--per-row-mob-{{ settings.prod_thumb_mob_per_row }} product-list--image-shape-{{ settings.coll_grid_image_shape }} {% if section.settings.enable_carousel %}carousel{% endif %}" style="margin:0;">
                {% assign slides = section.blocks | where: "type", "collection" %}
                {% if slides.size > 0 %}
                  {%- liquid
                    if settings.coll_grid_image_shape == 'portrait-23'
                      assign chosen_aspect_ratio = 0.67
                    elsif settings.coll_grid_image_shape == 'portrait-45'
                      assign chosen_aspect_ratio = 0.8
                    elsif settings.coll_grid_image_shape == 'square'
                      assign chosen_aspect_ratio = 1.0
                    elsif settings.coll_grid_image_shape == 'landscape-54'
                      assign chosen_aspect_ratio = 1.25
                    elsif settings.coll_grid_image_shape == 'landscape-32'
                      assign chosen_aspect_ratio = 1.50
                    elsif settings.coll_grid_image_shape == 'tallest'
                      assign chosen_aspect_ratio = 999
                      for block in slides
                        assign collection = collections[block.settings.collection]
                        if collection != blank
                          assign collection_image = block.settings.image | default: collection.featured_image
                          if collection_image.aspect_ratio < chosen_aspect_ratio
                            assign chosen_aspect_ratio = collection_image.aspect_ratio
                          endif
                        endif
                      endfor
                    else
                      assign chosen_aspect_ratio = 0
                      for block in slides
                        assign collection = collections[block.settings.collection]
                        if collection != blank
                          assign collection_image = block.settings.image | default: collection.featured_image
                          if collection_image.aspect_ratio > chosen_aspect_ratio
                            assign chosen_aspect_ratio = collection_image.aspect_ratio
                          endif
                        endif
                      endfor
                    endif
                  -%}

                  {% for block in slides %}
                    {% assign collection = collections[block.settings.collection] %}

                    {% render 'pro-collection-block', collection: collection, custom_attrs: block.shopify_attributes, manual_image_load: section.settings.enable_carousel, custom_image: block.settings.image, custom_aspect_ratio: chosen_aspect_ratio, forloop: forloop %}
                  {% endfor %}

                {% else %}

                  {% for i in (1..6) %}
                    {% render 'pro-collection-block', collection: blank, forloop: forloop %}
                  {% endfor %}

                {% endif %}
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div style="text-align:center;">
    {% if section.settings.buttontext != blank %}
      <a class="btn btn--primary" {% unless section.settings.buttonlink == blank %}href="{{ section.settings.buttonlink }}"{% endunless %}>{{ section.settings.buttontext | escape }}</a>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "ScrollPro",
	"class": "section-scrollpro",
    "settings": [
	  {
		"type":"text",
		"id":"scrollprotitle",
		"label":"Title",
		"default":"Be Part of the Solution. Not the Pollution."
	  },
	  {
		"type": "range",
        "id": "scrollprotitle_fontsize",
        "min": 12,
        "max": 18,
        "step": 1,
        "unit": "px",
        "label": "Title Font Size",
        "default": 16
	  },
      {
        "type": "checkbox",
        "id": "enable_carousel",
        "label": "Enable carousel",
        "default": true
      },
	  {
		"type": "checkbox",
		"id": "use_alt_bg1",
		"label": "Use alternate section color",
		"default": true
	  },
	  {
		"type": "text",
		"id": "buttontext",
		"label": "Button Label"
	  },
      {
        "type": "url",
        "id": "buttonlink",
        "label": "Button Link"
      }
	],
	"blocks":[
	  {
		"type": "collection",
        "name": "Collection",
        "settings": [
		  {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
		  {
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		  }
		]
	  }
	],
	"presets":[
	  {
        "name": "ScrollPro",
        "settings": { },
        "blocks": [
          {
            "type": "collection"
          }
        ]
	  }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
