<div id="section-id-{{ section.id }}" data-section-type="slideshow" data-cc-animate data-cc-animate-delay="0.2s">
    {% style %}
      {%- if section.settings.height == 'fixed' -%}
      #section-id-{{ section.id }} .fixed-height-item {
        height: 250px;
      }
      {%- endif -%}

      {%- for block in section.blocks -%}
        #section-id-{{ section.id }} .slide-{{ forloop.index }} .overlay-text__title {
          font-size: {{ block.settings.title_size_mobile }}px;
          {%- if block.settings.title_size_mobile >= 90 -%}
          line-height: 1em;
          {%- endif %}
        }
      {%- endfor -%}

      @media (min-width: 768px) {
        {%- if section.settings.height == 'fixed' -%}
        #section-id-{{ section.id }} .fixed-height-item {
          height: 250px;
        }
        {%- endif -%}

        {%- for block in section.blocks -%}
        #section-id-{{ section.id }} .slide-{{ forloop.index }} .overlay-text__title {
          {%- assign title_size_medium = block.settings.title_size | times: 0.7 | at_least: block.settings.title_size_mobile -%}
          font-size: {{ title_size_medium }}px;
          {%- if title_size_medium >= 90 -%}
          line-height: 1em;
          {%- endif %}
        }
        {%- endfor -%}
      }

      @media (min-width: 1100px) {
        {%- for block in section.blocks -%}
        #section-id-{{ section.id }} .slide-{{ forloop.index }} .overlay-text__title {
          font-size: {{ block.settings.title_size }}px;
          {%- if block.settings.title_size >= 90 -%}
          line-height: 1em;
          {%- endif %}
        }
        {%- endfor -%}
      }
    {% endstyle %}
  <div class="container">
    <div class="align-center spaced-column">
  <h2 class="majortitle in-content h1-style h2-title">Reviews:</h2>
      </div>
  </div>
  {%- unless section.settings.full_width -%}<div class="container container--not-mobile fully-spaced-row--medium fully-spaced-row--not-mobile">{%- endunless -%}
  {% comment %} <div class="widths slideshow slideshow--navigation-{{ section.settings.slide_navigation }} slick-slider-overlay-dots-desktop {% if section.settings.mobile_overlay_under %}slick-slider--mobile-stack{% else %}slick-slider-overlay-dots{% endif %}" data-transition="{{ section.settings.slide_transition }}" data-autoplay="{{ section.settings.autoplay }}" data-autoplay-speed="{{ section.settings.autoplay_speed }}" data-navigation="{{ section.settings.slide_navigation }}"> {% endcomment %}
    <div class="ReviewContainer">
    
    {%- for block in section.blocks -%}
      {%- liquid
        assign show_overlay_text = false
        if block.settings.title != blank or block.settings.subheading != blank or block.settings.text != blank or block.settings.button_label_1 != blank or block.settings.button_label_2 != blank
          assign show_overlay_text = true
          assign wrap_slide_with_link = true
          if block.settings.slide_link == blank or block.settings.text contains '</a>' or block.settings.button_url_1 != blank or block.settings.button_url_2 != blank
            assign wrap_slide_with_link = false
          endif
        elsif block.settings.slide_link != blank
          assign wrap_slide_with_link = true
        endif
      -%}
      <div class="slide slide-{{ forloop.index }} height--{{ section.settings.height }} image-overlay image-overlay--bg-{{ section.settings.overlay_style }} {% if section.settings.mobile_overlay_under %}overlay-text-parent--mobile-stack{% endif %}" {{ block.shopify_attributes }}>
        

        {%- if block.settings.image == blank -%}
          <div class="placeholder-image placeholder-color placeholder--banner biankuan{% if show_overlay_text %} dark{% endif %}{% if section.settings.height == 'fixed' %} fixed-height-item{% endif %}" {% if section.settings.height == 'adapt' %}style="padding-top: 50%"{% endif %}>
            
          </div>
        {%- else -%}
          

          
        {%- endif -%}

        {%- if show_overlay_text -%}
          <div class="overlay-text overlay-text--with-reveal overlay-text--for-banner overlay--v-{{ block.settings.text_alignment | split: ' ' | first }} overlay--h-{{ block.settings.text_alignment | split: ' ' | last }} image-overlay__over">
            <div class="overlay-text__inner">
              <div class="overlay-text__text">
                {%- if block.settings.subheading != blank -%}
                  <div class="overlay-text__reveal"><div class="overlay-text__subheading subheading subheading--over">{{ block.settings.subheading | escape }}</div></div>
                {%- endif -%}
                {%- if block.settings.title != blank -%}
                  <div class="overlay-text__reveal"><h2 class="overlay-text__title h1-style">{{ block.settings.title | newline_to_br }}</h2></div>
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  <div class="overlay-text__reveal"><div class="overlay-text__rte rte text-color {% if block.settings.enlarge_text %}large-text{% endif %}">{{ block.settings.text }}</div></div>
                {%- endif -%}
                {%- if block.settings.button_label_1 != blank or block.settings.button_label_2 != blank -%}
                  <div class="overlay-text__button-row">
                    {%- if wrap_slide_with_link -%}
                      {%- if block.settings.button_label_1 != blank -%}
                        <span class="overlay-text__button button altcolour">{{ block.settings.button_label_1 }}</span>
                      {%- endif -%}
                      {%- if block.settings.button_label_2 != blank -%}
                        <span class="overlay-text__button button altcolour">{{ block.settings.button_label_2 }}</span>
                      {%- endif -%}
                    {%- else -%}
                      {%- if block.settings.button_label_1 != blank -%}
                        <a class="overlay-text__button button altcolour" href="{{ block.settings.button_url_1 }}">{{ block.settings.button_label_1 }}</a>
                      {%- endif -%}
                      {%- if block.settings.button_label_2 != blank -%}
                        <a class="overlay-text__button button altcolour" href="{{ block.settings.button_url_2 }}">{{ block.settings.button_label_2 }}</a>
                      {%- endif -%}
                    {%- endif -%}
                  </div>
                {%- endif -%}
              </div>
            </div>
          </div>
        {%- endif -%}

        {%- if wrap_slide_with_link -%}
          </a>
        {%- endif -%}
      </div>
    {%- endfor -%}
    </div>
  {% comment %} </div> {% endcomment %}
  {%- unless section.settings.full_width -%}</div>{%- endunless -%}
</div>
{% style %}

.ReviewContainer{
	width:70%;
	margin:auto;
}
.biankuan{
	border-radius:30px;
}
.text-color{
	color:#515353;
	text-align:left;
}
.placeholder-color.dark{
	background-color:#D2DFCF;
}
.h2-title{
	color:#5D783E;
	font-size:45px;
	font-weight:800;
}
 @media (max-width: 768px) {
	.h2-title{
	font-size:24px;
}
.widths .overlay-text__inner{
	font-size:14px;
}
}
@media(min-width:768px){
	.ReviewContainer{
	width:40%;
	margin:auto;
}
.ReviewContainer .slick-prev{
	left:-150px;
}
.ReviewContainer .slick-next{
	right:-150px;
}
}
{% endstyle %}
{% schema %}
  {
    "name": "SlideText",
    "class": "section-slidetext",
    "max_blocks": 8,
    "settings": [
      {
        "type": "radio",
        "id": "height",
        "label": "Slide height",
        "options": [
          {
            "value": "adapt",
            "label": "Adapt to first image"
          },
          {
            "value": "full",
            "label": "Full screen"
          },
          {
            "value": "fixed",
            "label": "Fixed height"
          }
        ],
        "default": "fixed"
      },
      {
        "type": "range",
        "id": "height_desktop",
        "min": 200,
        "max": 1000,
        "step": 20,
        "unit": "px",
        "label": "Desktop fixed height",
        "default": 600
      },
      {
        "type": "range",
        "id": "height_mobile",
        "min": 100,
        "max": 1000,
        "step": 20,
        "unit": "px",
        "label": "Mobile fixed height",
        "default": 460
      },
      {
        "id": "full_width",
        "type": "checkbox",
        "label": "Full page width",
        "default": true
      },
      {
        "id": "mobile_overlay_under",
        "type": "checkbox",
        "label": "Show text below image on mobile",
        "default": false
      },
      {
        "id": "overlay_style",
        "type": "select",
        "label": "Overlay style",
        "default": "shadow",
        "options": [
          {
            "value": "full",
            "label": "Tint"
          },
          {
            "value": "box",
            "label": "Box"
          },
          {
            "value": "shadow",
            "label": "Text shadow"
          },
          {
            "value": "full image-overlay--bg-shadow",
            "label": "Text shadow and tint"
          },
          {
            "value": "no_background",
            "label": "No background"
          }
        ]
      },
      {
        "type": "header",
        "content": "Slideshow navigation"
      },
      {
        "type": "select",
        "id": "slide_transition",
        "label": "Transition",
        "options": [
          {
            "value": "zoom",
            "label": "Zoom"
          },
          {
            "value": "fade",
            "label": "Fade"
          },
          {
            "value": "slide",
            "label": "Slide"
          },
          {
            "value": "slide_fade",
            "label": "Slide & Fade"
          },
          {
            "value": "instant",
            "label": "Instant"
          }
        ],
        "default": "fade"
      },
      {
        "id": "slide_navigation",
        "type": "select",
        "label": "Slide navigation style",
        "default": "arrows",
        "options": [
          {
            "value": "arrows",
            "label": "Arrows"
          },
          {
            "value": "dots",
            "label": "Dots"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "id": "autoplay",
        "type": "checkbox",
        "label": "Auto-rotate slides",
        "default": true
      },
      {
        "type": "range",
        "id": "autoplay_speed",
        "min": 1,
        "max": 20,
        "step": 1,
        "unit": "s",
        "label": "Change slides every",
        "default": 7
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Slide",
        "settings": [
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Tell your story"
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Heading",
            "default": "Two line\nslide heading"
          },
          {
            "type": "range",
            "id": "title_size",
            "min": 20,
            "max": 150,
            "step": 2,
            "unit": "px",
            "label": "Desktop heading text size",
            "default": 84
          },
          {
            "type": "range",
            "id": "title_size_mobile",
            "min": 20,
            "max": 150,
            "step": 2,
            "unit": "px",
            "label": "Mobile heading text size",
            "default": 46
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>And optional subtext</p>"
          },
          {
            "type": "checkbox",
            "id": "enlarge_text",
            "label": "Enlarge text",
            "default": true
          },
          {
            "type": "select",
            "id": "text_alignment",
            "label": "Text overlay position",
            "options": [
              {
                "value": "top left",
                "label": "Top left"
              },
              {
                "value": "top center",
                "label": "Top center"
              },
              {
                "value": "top right",
                "label": "Top right"
              },
              {
                "value": "center left",
                "label": "Middle left"
              },
              {
                "value": "center center",
                "label": "Middle center"
              },
              {
                "value": "center right",
                "label": "Middle right"
              },
              {
                "value": "bottom left",
                "label": "Bottom left"
              },
              {
                "value": "bottom center",
                "label": "Bottom center"
              },
              {
                "value": "bottom right",
                "label": "Bottom right"
              }
            ],
            "default": "center center"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "SlideText",
        "settings": {
        },
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

$(document).ready(function(){

var slickobj = $('.ReviewContainer').slick({
	slidesToShow: 1,
 	slidesToScroll: 1,
  	autoplay: true,
	fade: true,
	arrows:true,
  	autoplaySpeed: 6000,
	speed:2000,
	infinite: true,
 	prevArrow: '<button type="button" class="slick-prev slick-arrow" aria-label="Previous">'+ '<svg fill="#000000" height="200" viewBox="0 0 200 200" width="200" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left">'+'<title>Left</title>'+'<path d="M50 100 L150 150 L 150 50 Z" fill="#6F894E"/>'+'</svg>' + '</button>',
    nextArrow: '<button type="button" class="slick-next slick-arrow" aria-label="Next">' +'<svg fill="#000000" height="200" viewBox="0 0 200 200" width="200" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left">'+'<title>Right</title>'+'<path d="M50 50 L50 150 L 150 100 Z" fill="#6f894e"/>'+'</svg>' + '</button>',
  });

$('.ReviewContainer').on('setPosition',function(event,slickobj){
	$('.ReviewContainer').slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true,
      fade: true,
      arrows:true,
      autoplaySpeed: 6000,
      speed:2000,
      infinite: true,
      prevArrow: '<button type="button" class="slick-prev slick-arrow" aria-label="Previous">'+ '<svg fill="#000000" height="200" viewBox="0 0 200 200" width="200" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left">'+'<title>Left</title>'+'<path d="M50 100 L150 150 L 150 50 Z" fill="#6F894E"/>'+'</svg>' + '</button>',
      nextArrow: '<button type="button" class="slick-next slick-arrow" aria-label="Next">' +'<svg fill="#000000" height="200" viewBox="0 0 200 200" width="200" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left">'+'<title>Right</title>'+'<path d="M50 50 L50 150 L 150 100 Z" fill="#6f894e"/>'+'</svg>' + '</button>',
    });
})

var screen=window.innerWidth;
if(screen>768){
  
}
});


{% endjavascript %}
